<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <h1>Admin page</h1>
    
    <form action="/admin" method="POST" id="post-album-form">
        <input type="text" name="url" id="urlLastFm" placeholder="Copy URL from Last.fm" autofocus required size="60" />
        <button type="submit">Post album</button>
    </form>
    <br />

        <!-- Adding 2 fields to be able to add curators note and musicplayer, maybe we need to first pull the album info from Last fm and then after put in curators note and player, before posting it to the databse -->
        <!-- Commented out because of creating double/triple ids in the page. Balthazar  -->
        <!-- <form action="/admin" method="POST" id="post-album-form">
            <input type="text" name="url" id="urlLastFm" placeholder="I really like this CD!" />
            <button type="submit">Enter curators note to album</button>
        </form>

        <form action="/admin" method="POST" id="post-album-form">
            <input type="text" name="url" id="urlLastFm" placeholder="5uRdvUR7xCnHmUW8n64n9y" />
            <button type="submit">Enter spotify iframe or id</button>
        </form> -->
        <!-- remove if needed, its just placeholders -->

    <% if (error) { %>
    <p>We can't handle your request, please choose another album without the following characters: "…".</p>
    <% } %>

    <% if (invalidAlbum) { %>
    <p>The data from Last.fm about the album '<%= data.album.name %>' by artist <i><%= data.album.artist %></i> doesn't
        contain enough information to be added to Skivbolaget.</p>
    <% } %>

    <% if (albumAdded) { %>
    <p>The data from Last.fm about the album '<%= newAlbumInDb.name %>' by artist <i><%= newAlbumInDb.artist %></i> has
        been successfully added to Skivbolaget.</p>
    <% } %>

    <% if (existingAlbum) { %>
    <p>The album '<%= data.album.name %>' by artist <i><%= data.album.artist %></i> already exists in the collection of
        Skivbolaget.</p>
    <% } %>

    <% if (user) { %>
    <%= user %>
    <% } %>

    <p><a href="/logout" style="color: lightcoral">Log out</a></p>

</body>

</html>