<%- include ("head") %>

<body>
    <%- include ("header.ejs") %>
    <div class="sortContainer">
        <div class="filter">filter</div>
        <div class="sort">sort</div>
    </div>
    <div class="container">
        <% albums.forEach((album) => { %>
        <div class="item">
            <div class="image">
                <a href="/album/<%= album._id %>">
                    <img src="<%= album.imgUrl %>" alt="Image of '<%= album.name %>' by <%= album.artist %>" />
                </a>
            </div>
            <div class="artist"><%= album.artist %></div>
            <div class="album"><i><%= album.name %></i></div>
            <div class="year"><%= album.released %></div>
            <div class="price">
                <form action="/addtocart/<%= album._id %>" method="get">
                    <button type="submit"><%= album.price %> SEK</button>
                </form>
            </div>
        </div>
        <% }) %>
    </div>
</body>

</html>